{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h1>Nos formations</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card h-100">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.thumbnail.url }}" class="card-img-top" alt="{{ product.name }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Prix : {{ product.price }} €</p>
                </div>
                <div class="card-footer">
                    <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Voir l'article</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'add-to-cart' product.slug %}" class="btn btn-success">Ajouter au panier</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
